

img {
    height: 150px; 
    width: 150px;
    border-radius: 50%;
}
.top-division {
    background-color: yellow; 
    display: flex;
    padding: 20px;
}
.top-right-section { 
   padding-left: 180px;
   width: 50%;
}
.mid-left-division {
    background-color: black;
    color: white;
    width:  50%;
    padding: 20px;
}
.mid-division {
    display: flex;
}
.mid-right-division {
width: 50%;
padding: 20px;
}
.bottom-division {
    background-color: yellow;
    display: flex;
}
.bottom-right-section {
    width: 70%;
    
}
